.dashboard-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Noto Sans Mono', monospace;
}

.dashboard-admin-commands{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(-45deg,#f1b3a0,#ff9cc2,#aae8ff,#acf8e6);
    box-shadow: 4px 4px 0px black;
    border: 1px black solid;
}

.dashboard-admin-links{
    background-color: white;
    padding: 0.7rem;
    margin: 0.5rem;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}
.dashboard-admin-links:hover{
    box-shadow: 2px 2px 0px black;
}

.dashboard-overview-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
    box-shadow: 4px 4px 0px black;
    background: linear-gradient(-45deg,#f2d3ca,#f3cbd9,#e4e9c9,#f2e8d1);
    border: 1px black solid;
}

.dashboard-overview-item{
    background: #ffa70021;
    border-radius: 0.5rem;
    text-align: center;
    border: 1px solid grey;
    padding: 0.5rem;
    margin: 0.5rem;
    height: fit-content;
}

.dashboard-overview-item-title{
    background: rgba(68, 68, 68, 0.5);
    color: white;
    margin: 0;
    border-radius: 0.3rem;
}