.years-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Noto Sans Mono', monospace;
}


/* _year partial */
.single-year-article{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(210, 210, 210);
}

.single-year-brief{
    background-color: rgb(242, 252, 252);
    box-shadow: 0px 2px 5px rgb(174, 174, 174);
}

.single-year-months-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-year-months-container > p {
    border: 1px black solid;
    border-radius: 2rem;
    background-color: rgb(244, 255, 251);
    padding: 0.5rem;
    margin: 1rem;

}
